#list li{
    justify-content: center;	
}
.row h1{
    color: orange;
    text-align: center;
}
.h3{
    border-bottom: 4px solid rgb(143, 218, 237);
    color: orange;
}
.img{
    display: inline-block;
    position: absolute;
    margin-left: 80px;
    padding-top: 20px;
}
.img1{
    display: flex;
    padding-top: 25px;
}
.img1 .img1_item{
    width: 120px;
    height: 120px;
    border-radius: 100% ;
}
.background{
    background-color: rgb(194, 255, 255);
}
.background h3{
    padding-left: 10px;
}
.row_item1{
    display: flex;
    padding: 25px;
    justify-content: space-around;
    margin-left: 200px;
}
.footer{
    background-color: rgb(33, 207, 255);
    color: white;
    text-align: center;
}
.khung_2hinh{
    display: inline-block;
    margin-left: 170px;
    width: 1500px;
}